# Virtual environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.so

# Django
db.sqlite3
/media/
media/
*.log

# Migrations (optionnel : garder pour historique ou pas)
*/migrations/*.py
*/migrations/__pycache__/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store